// ======================================
//  Variables
// ======================================

// Site Theme Colors
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-text: #777;
$color-link: #51ddfc;
$color-accent: #fff;

// Button Colors
$btn-clr: (
    'def': #58e1c1,
    'err': #e4757a,
    'inf': #927bc1,
    'suc': #80a08a,
    'war': #fd7856,
    'tc-1': #927bc1,
    'tc-2': #fd7856,
    'tc-3': #deb2ee,
    'tc-4': #7ee6fd,
    'tc-5': #88d9a0,
    'tc-6': #4da2bb,
    'tc-7': #ec9fa3,
    'tc-8': #fd9f85,
    'tc-9': #e4757a,
    'tc-10': #63cc82,
    'tc-11': #51ddfc,
    'tc-12': #80e8d1,
);

// Breakpoint
$breakpoint: 768px;