// ======================================
//  Variables
// ======================================

// Site Theme Colors
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-text: #777;
$color-accent: #fff;

// Button Colors
// So here's my logic for making button color variables separate from the site's own theme colors.
// This is a style guide, right?
// As a style guide, I figure the designer/developer would like to experiment with different button colors,
// without the akwardness of changing colors of the entire site's theme.
$colr-btn-def: #58e1c1;
$colr-btn-err: #e4757a;
$colr-btn-inf: #927bc1;
$colr-btn-suc: #80a08a;
$colr-btn-war: #fd7856;