/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-accent;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
}

.default {
    background-color: $colr-btn-def;
}

.error {
    background-color: $colr-btn-err;
}

.info {
    background-color: $colr-btn-inf;
}

.success {
    background-color: $colr-btn-suc;
}

.warning {
    background-color: $colr-btn-war;
}

.theme.col-1 {
    background-color: $colr-btn-inf;
}

.theme.col-2 {
    background-color: $colr-btn-war;
}

.theme.col-3 {
    background-color: $colr-btn-inf;
}

.theme.col-4 {
    background-color: $colr-btn-def;
}

.theme.col-5 {
    background-color: $colr-btn-suc;
}

.theme.col-6 {
    background-color: $colr-btn-inf;
}

.theme.col-7 {
    background-color: $colr-btn-err;
}

.theme.col-8 {
    background-color: $colr-btn-war;
}

.theme.col-9 {
    background-color: $colr-btn-err;
}

.theme.col-10 {
    background-color: $colr-btn-suc;
}

.theme.col-11 {
    background-color: $colr-btn-def;
}

.theme.col-12 {
    background-color: $colr-btn-def;
}