/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-accent;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
}

.default {
    background-color: $colr-btn-def;
}

.error {
    background-color: $colr-btn-err;
}

.info {
    background-color: $colr-btn-inf;
}

.success {
    background-color: $colr-btn-suc;
}

.warning {
    background-color: $colr-btn-war;
}