/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;

  @media (min-width: $breakpoint) {
    max-width: 1400px;
    @include cntr-itm;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;

  @media (min-width: $breakpoint) {
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
}

.card {
  flex-basis: 100%;
}

/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
  @include cntr-itm;
  margin-top: 10px;
  max-width: 100%;
  max-height: 100%;
}

.img-frame {
  @include cntr-itm;
  margin-top: 10px;
  max-width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
}

.img-logo {
  @include cntr-itm;
}

/* ============================================= */
/*            Un-nested Media Queries            */
/* ============================================= */
@media (min-width: $breakpoint) {

  .centered {
    @include cntr-itm;
  }

  [class^=col] {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }

  [class^=col]+[class^=col] {
    margin-left: 10px;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      flex-basis: map-get($flx-bs, 'c-#{$i}');
    }
  }

  .btn+.btn {
    margin-left: 10px;
  }

  .logo {
    margin-left: initial;
    margin-right: initial;
  }
}