/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;

  @media (min-width: $breakpoint) {
    max-width: 1400px;
    @include cntr-itm;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;

  @media (min-width: $breakpoint) {
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
}

.card {
  flex-basis: 100%;
}