/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
}

.row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
}

[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
}

.theme.col-1 {
    background-color: #927bc1;
}

.theme.col-2 {
    background-color: $colr-btn-war;
}

.theme.col-3 {
    background-color: $colr-btn-inf;
}

.theme.col-4 {
    background-color: $colr-btn-def;
}

.theme.col-5 {
    background-color: $colr-btn-suc;
}

.theme.col-6 {
    background-color: $colr-btn-inf;
}

.theme.col-7 {
    background-color: $colr-btn-err;
}

.theme.col-8 {
    background-color: $colr-btn-war;
}

.theme.col-9 {
    background-color: $colr-btn-err;
}

.theme.col-10 {
    background-color: #63cc82;
}

.theme.col-11 {
    background-color: #51ddfc;
}

.theme.col-12 {
    background-color: $colr-btn-def;
}

.card {
    flex-basis: 100%;
}