/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
    &-avatar {
        @include cntr-itm;
        max-height: 100%;
    }
    &-frame {
        @include cntr-itm;
        padding: 13px;
        border: 1px solid #ccc;
    }
    &-logo {@include cntr-itm;}
}